fairpyx @ git+https://github.com/Course-Match/course_match_algorithm.git
blinker==1.8.2
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cvxpy-base==1.5.2
Flask==3.0.3
google-auth==2.33.0
google-auth-oauthlib==1.2.1
gspread==6.1.2
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
networkx==3.3
networkz==1.0.6
numpy==1.26.4
oauthlib==3.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.14.0
urllib3==2.2.2
Werkzeug==3.0.3

